* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  text-align: left;
  color: #0b3f60;
  background-color: #0b3f60;
}

.main {
  position: relative;
  width: 750px;
  height: 400px;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 250px auto;
  grid-template-areas:
    "one two"
    "three four";
  gap: 15px;
}
.one {
  grid-area: one;
  display: grid;
}
.one > p {
  position: absolute;
  top: 26%;
  left: 6%;
  color: #eb8402;
  font-size: 2.5rem;
  transform: rotate(0.75turn);
}
.one_content {
  display: grid;
  justify-content: end;
  align-content: end;
  margin-left: 50%;
  padding-bottom: 3px;
  width: 50%;
  height: 100%;
  background-color: #cde;
}
.one_content p {
  text-align: right;
  padding: 5px 10px;
}
.two {
  color: #eb8402;
  display: grid;
  grid-area: two;
  align-content: end;
}
.two_form {
  display: grid;
  align-content: end;
  margin-top: 10px;
  padding-top: 7px;
  width: 325px;
  height: 90%;
  text-align: left;
  font-size: 20px;
  background-color: #89a;
}

.to_do {
  padding: 4px 15px;
  background-color: #fff;
}

.three {
  position: absolute;
  display: grid;
  grid-area: three;
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #89a;
}
.four {
  display: grid;
  grid-area: four;
  width: 50%;
}

input {
  margin: 5px 10px;
  padding: 5px 5px;
  font-size: 16px;
}
form > input {
  width: 300px;
}
.attention {
  transition: 0.5s;
  background-color: #eb8402;
}
:required {
  background-color: gold;
}

/* buttons - start */
.long_button {
  width: 163px;
  height: 35px;
  font-size: 1.1rem;
  background-color: #fff;
  border: none;
}
button.done {
  background-color: #fff;
  color: #003008;
  margin: 0;
  padding: 3px 8px;
  font-size: 14px;
  border: none;
}
button:hover {
  background-color: #eb8402;
  color: #fff;
  cursor: pointer;
}
/* buttons - end */

p span {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.task_list {
  text-align: left;
  padding: 5px 15px;
  margin-bottom: 15px;
}
